<!DOCTYPE html>
<html>
<head>
  <title>ChessWorkout</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <button><%= link_to 'Game Loby', games_path %></button>

<%= yield %>

</body>
</html>