<h1>Welcome to the Games Lobby!</h1>

<%= simple_form_for @game_new, :url => games_path, :method => :post do |f| %>
  <%= f.input :white_user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
  <%= f.input :black_user_id, :as => :hidden, :input_html => { :value => '' }  %>
  <%= f.submit 'Create Game', :class => "btn btn-success" %>
<% end %>

<% @games.each do |game| %>
  <hr />
  <%= link_to game_path(game.id) do %>
    <h3><%= "Game ID: #{game.id}" %></h3>
    <h6><%= "White: #{game.white_player_id}" %></h6>
    <h6><%= "Black: #{game.black_player_id}" %></h6>
  <% end %>
  <br />
<% end %>
