<h1>Welcome to the Games Lobby!</h1>

<%= simple_form_for @game_new, :url => games_path, :method => :post do |f| %>
  <%= f.input :white_player_id, :as => :hidden, :input_html => { :value => current_user.id } %>
  <%= f.input :black_player_id, :as => :hidden, :input_html => { :value => '' }  %>
  <%= f.submit 'Create Game', :class => "btn btn-success" %>
<% end %>

<% @games.each do |game| %>
  <hr />
  <%= link_to game_path(game.id) do %>
    <h3><%= "View Game ID: #{game.id}" %></h3>
  <% end %>
  <% if game.white_player_id.present? %>
    <h6><%= "White: #{@user.find_by_id(game.white_player_id).username}" %></h6>
  <% end %>
  <% if game.black_player_id.present? %>
    <h6><%= "Black: #{@user.find_by_id(game.black_player_id).username}" %></h6>
  <% else %>
    <h6>Black: </h6>
    <% if current_user != game.white_player %>
      <%= simple_form_for game, :url => game_path(game), :method => :put do |f| %>
        <%= f.input :black_player_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= f.submit 'Play as black', :class => "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
  <br />
<% end %>
