
<br />
  <h1><%= "Game ID: #{@game.id}" %></h1>
  <br />
  <div class="col-xs-6">
    <table class="board" id="chessboard">
      <% @game.black_player == current_user ? (index = 8.downto(1)) : (index = (1..8)) %>
      <% index.each do |row| %>
        <tr>
          <% index.each do |col| %>
            <% sq_color = (row + col).even? ? 'white_sq' : 'dark_sq' %>
            <td id="<%= "#{row}#{col}" %>" class="<%= sq_color %>">
              <% piece = @game.pieces.where(:x_position => col, :y_position => row).first %>
              <% if piece %>
                <div class="piece <%= piece.color %>_piece" id="<%= piece.color %>-<%= piece.type %>" data-piece-url="<%= piece_path(piece) %>">
                  <strong><%= piece.type %></strong>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="moves_record">
        <h5>Moves Record</h5>
        <ol reversed id="moves"></ol>
    </div>

    <div class="capture_box">
      <h5>Captured</h5>
      <span id="white_captured"></span>
      <br />
      <span id="dark_captured"></span>
      <br />
    </div>
  </div>
  <br />
  <button id="reverse_view" class="btn btn-primary">Reverse View</button>
</div>
